html {
    overflow-y: scroll;
    height: 100%;

    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 60px 5px 10px 5px;
}

.box {
    margin: 10px auto;
    max-width: 500px;
}

.footer {
    text-align: center;
    color: #999998;
}

